In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('HR.csv')
dataset.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
X = dataset.iloc[:, 0:10].values
y = dataset.iloc[:, 7].values

In [4]:
data = dataset.copy()

In [6]:
data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Departments ', 'salary'],
      dtype='object')

In [7]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
le=LabelEncoder()
for i in data:
    if data[i].dtype == 'object':
        le = LabelEncoder()
        le.fit(data[i].astype(str))
        temp = le.transform(data[i].astype(str))
        if temp.std() == 0:
            print("Dropped attributes with stddev == 0:" , i)
        else:
            one_hot = pd.get_dummies(data[i].astype(str))
            one_hot.columns=[(i+"_"+str(n)) for n in le.classes_]
            one_hot.drop(i +"_"+str(le.classes_[0]),inplace=True,axis=1)
            data = pd.concat([data,one_hot], axis = 1)
            print("Dropped attributes original data after One Hot encoding:", i)
        data.drop([i], inplace = True, axis = 1)

Dropped attributes original data after One Hot encoding: Departments
Dropped attributes original data after One Hot encoding: salary

In [8]:
data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Departments _RandD',
       'Departments _accounting', 'Departments _hr', 'Departments _management',
       'Departments _marketing', 'Departments _product_mng',
       'Departments _sales', 'Departments _support', 'Departments _technical',
       'salary_low', 'salary_medium'],
      dtype='object')

In [9]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments _RandD,Departments _accounting,Departments _hr,Departments _management,Departments _marketing,Departments _product_mng,Departments _sales,Departments _support,Departments _technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0

In [14]:
data.shape

(14999, 19)

In [10]:
target = ['left']
X = data.drop(target, axis = 1)
y = pd.DataFrame(data[target])

In [12]:
X.shape

(14999, 18)

In [15]:
y.shape

(14999, 1)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
print("TEST DATA:",list(X_test[-1]))

TEST DATA: [-1.9446393358510627, -0.39150280674297383, 0.15756099654111427, -0.13961186500323047, 0.3458158265471235, -0.4108645311597578, -0.146465988167777, -0.23480932760569087, -0.23282697272191086, -0.22922447436764426, -0.2091754032837047, -0.24681884091350292, -0.25302987944122657, -0.6141153071428184, 2.396040741714351, -0.4717166059101488, -0.977827219440751, 1.1524299040465689]

C:\Users\Sivadinesh\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Sivadinesh\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Sivadinesh\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 10, kernel_initializer = 'uniform', activation = 'relu', input_dim = 18))

classifier.add(Dense(units = 10, kernel_initializer = 'uniform', activation = 'relu'))

classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 20)

Using TensorFlow backend.

Epoch 1/20
11999/11999 [==============================] - 5s 445us/step - loss: 0.4024 - acc: 0.7902
Epoch 2/20
11999/11999 [==============================] - 3s 259us/step - loss: 0.2920 - acc: 0.8980
Epoch 3/20
11999/11999 [==============================] - 3s 259us/step - loss: 0.2573 - acc: 0.9184
Epoch 4/20
11999/11999 [==============================] - 3s 260us/step - loss: 0.2376 - acc: 0.9265
Epoch 5/20
11999/11999 [==============================] - 3s 259us/step - loss: 0.2238 - acc: 0.9319
Epoch 6/20
11999/11999 [==============================] - 3s 274us/step - loss: 0.2134 - acc: 0.9354
Epoch 7/20
11999/11999 [==============================] - 3s 261us/step - loss: 0.2075 - acc: 0.9382
Epoch 8/20
11999/11999 [==============================] - 3s 261us/step - loss: 0.2040 - acc: 0.9397
Epoch 9/20
11999/11999 [==============================] - 3s 269us/step - loss: 0.2016 - acc: 0.9397
Epoch 10/20
11999/11999 [==============================] - 3s 266us/step - loss: 0.1987 - acc: 0.9432
Epoch 11/20
11999/11999 [==============================] - 3s 270us/step - loss: 0.1961 - acc: 0.9417
Epoch 12/20
11999/11999 [==============================] - 3s 278us/step - loss: 0.1929 - acc: 0.9430
Epoch 13/20
11999/11999 [==============================] - 3s 275us/step - loss: 0.1906 - acc: 0.9455
Epoch 14/20
11999/11999 [==============================] - 3s 278us/step - loss: 0.1869 - acc: 0.9448
Epoch 15/20
11999/11999 [==============================] - 3s 290us/step - loss: 0.1822 - acc: 0.9447
Epoch 16/20
11999/11999 [==============================] - 3s 281us/step - loss: 0.1792 - acc: 0.9475
Epoch 17/20
11999/11999 [==============================] - 3s 283us/step - loss: 0.1749 - acc: 0.9487
Epoch 18/20
11999/11999 [==============================] - 3s 284us/step - loss: 0.1708 - acc: 0.9488
Epoch 19/20
11999/11999 [==============================] - 3s 287us/step - loss: 0.1682 - acc: 0.9490
Epoch 20/20
11999/11999 [==============================] - 3s 287us/step - loss: 0.1648 - acc: 0.9505

In [19]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

y_test = y_test.astype(bool)

In [20]:
print("Confusion matrix : ")
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

Confusion matrix :
[[2199  100]
 [  76  625]]

In [21]:
# Making the Report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.97      0.96      0.96      2299
        True       0.86      0.89      0.88       701

   micro avg       0.94      0.94      0.94      3000
   macro avg       0.91      0.92      0.92      3000
weighted avg       0.94      0.94      0.94      3000